# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Rust
target/
backend/target/
frontend/src-tauri/target/

# Logs / temp
*.log
*.tmp
.DS_Store
Thumbs.db

*.apk
测试/
apkicon10/
APK-Info-1.35-03.07.2019/
APK-Info-master/
*.zip
main/
CSDN_BLOG.md
